<section>
  <div class="flex bg-slate-100 flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold text-gray-900 md:text-2xl">
                  Sign in to your account
              </h1>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="space-y-4 md:space-y-6">
                  <div>
                    <%= f.label :email, class:"block mb-2 text-sm font-medium text-gray-900" %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5", placeholder:"name@company.com" %>
                  </div>
                  <div>
                    <%= f.label :password, class:"block mb-2 text-sm font-medium text-gray-900" %>
                    <%= f.password_field :password, autocomplete: "current-password", placeholder:"••••••••", class:"bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-500 block w-full p-2.5" %>
                  </div>
                  <div class="flex items-center justify-between">
                    <% if devise_mapping.rememberable? %>
                      <div class="flex items-center">
                        <%= f.check_box :remember_me, class:"w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" %>
                        <%= f.label :remember_me, class:"ml-3 text-sm text-gray-500" %>
                      </div>
                    <% end %>
                    <%= link_to "Forgot password?", new_password_path(resource_name), class:"text-sm font-medium text-blue-600 hover:underline" %>
                  </div>
                  <div class="actions">
                    <%= f.submit "Log in to your account" ,class:"w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
                  </div>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <div class="text-center">
                    <%= link_to "Don’t have an account?", new_registration_path(resource_name),class:"font-medium text-blue-600 hover:underline text-sm" %>
                  </div>
                </div>
              <% end %>
          </div>
      </div>
  </div>
</section>